/** 
*
* Media queries for a mobile first layout
*
*/

@mixin x-small-breakpoint {
    @media (min-width: #{$x-small}) {
        @content;
    }
}

@mixin small-breakpoint {
    @media (min-width: #{$small}) {
        @content;
    }
}

@mixin medium-breakpoint {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin large-breakpoint {
    @media (min-width: #{$large}) {
        @content;
    }
}

@mixin container-size($size, $gutter) {
    max-width: calc(#{$size} * #{$gutter}); 
}

@mixin container-styles {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; 
    margin-right: auto;
    margin-left: auto;
}