/** 
*
* UTILITY CLASSES
*
*/

// Clearfix
.clearfix {
    content: "";
    display: table;
    clear: both;
}

// Display
.dis-block {
    display: block;
}

.dis-inline {
    display: inline;
}

.dis-inline-block {
    display: inline-block;
}

// Display state
.show {
    display: block;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

// Floats
.float-left {
    float: left;
}

.float-right {
    float: right;
}

// Margins
.margin-auto {
    margin: 0 auto;
}

.margin-top-auto {
    margin-top: auto;
}

.margin-bottom-auto {
    margin-bottom: auto;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-top-zero {
    margin-top: 0;
}

.margin-bottom-zero {
    margin-bottom: 0;
}

.margin-left-zero {
    margin-left: 0;
}

.margin-right-zero {
    margin-right: 0;
}

.margin-top {
    margin-top: $margin-utility;
}

.margin-bottom {
    margin-bottom: $margin-utility;
}

.margin-left {
    margin-left: $margin-utility;
}

.margin-right {
    margin-right: $margin-utility;
}

.margin-complete {
    margin: $margin-utility;
}

// Paddings
.padding-top-auto {
    padding-top: auto;
}

.padding-bottom-auto {
    padding-bottom: auto;
}

.padding-left-auto {
    padding-left: auto;
}

.padding-right-auto {
    padding-right: auto;
}

.padding-top-zero {
    padding-top: 0;
}

.padding-bottom-zero {
    padding-bottom: 0;
}

.padding-left-zero {
    padding-left: 0;
}

.padding-right-zero {
    padding-right: 0;
}

.padding-top {
    padding-top: $padding-utility;
}

.padding-bottom {
    padding-bottom: $padding-utility;
}

.padding-left {
    padding-left: $padding-utility;
}

.padding-right {
    padding-right: $padding-utility;
}

.padding-complete {
    padding: $padding-utility;
}

// Text alignment
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

// Images
.img-100 {
    width: 100%;
    height: auto;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Justify and align content
.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-self-center {
    align-self: center;
}

// Flex order
@media (max-width: $medium) {
    .flex-order-sm-1 {
        order: 1;
    }
}

// No margins and paddings for different breakpoints
@media (max-width: $x-small) {
    .pad-xs-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .mar-xs-0 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: $small) {
    .pad-sm-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .mar-sm-0 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: $medium) {
    .pad-med-0 {
        padding-right: 0;
        padding-left: 0;
    }

    .mar-med-0 {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: $large) {
    .pad-lg-0 {
        padding-right: 0;
        padding-left: 0;
    }

    .mar-lg-0 {
        margin-left: 0;
        margin-right: 0;
    }
}